/*!
* Bootstrap v3.3.5 (http://getbootstrap.com)
* Copyright 2011-2015 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

body#tinymce.wp-editor {
    margin: 3;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
#tinymce.wp-editor article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
#tinymce.wp-editor audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
#tinymce.wp-editor audio:not([controls]) {
    display: none;
    height: 0;
}
#tinymce.wp-editor template {
    display: none;
}
#tinymce.wp-editor a {
    background-color: transparent;
}
#tinymce.wp-editor a:active,
a:hover {
    outline: 0;
}
#tinymce.wp-editor abbr[title] {
    border-bottom: 1px dotted;
}
#tinymce.wp-editor b,
strong {
    font-weight: bold;
}
#tinymce.wp-editor dfn {
    font-style: italic;
}
#tinymce.wp-editor h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
#tinymce.wp-editor mark {
    background: #ff0;
    color: #000;
}
#tinymce.wp-editor small {
    font-size: 80%;
}
#tinymce.wp-editor sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
#tinymce.wp-editor sup {
    top: -0.5em;
}
#tinymce.wp-editor sub {
    bottom: -0.25em;
}
#tinymce.wp-editor img {
    border: 0;
}
#tinymce.wp-editor svg:not(:root) {
    overflow: hidden;
}
#tinymce.wp-editor figure {
    margin: 1em 40px;
}
#tinymce.wp-editor hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
#tinymce.wp-editor pre {
    overflow: auto;
}
#tinymce.wp-editor code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
#tinymce.wp-editor button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
#tinymce.wp-editor button {
    overflow: visible;
}
#tinymce.wp-editor button,
select {
    text-transform: none;
}
#tinymce.wp-editor button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
#tinymce.wp-editor button[disabled],
html input[disabled] {
    cursor: default;
}
#tinymce.wp-editor button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
#tinymce.wp-editor input {
    line-height: normal;
}
#tinymce.wp-editor input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
#tinymce.wp-editor input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
#tinymce.wp-editor input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#tinymce.wp-editor input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
#tinymce.wp-editor fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
#tinymce.wp-editor legend {
    border: 0;
    padding: 0;
}
#tinymce.wp-editor textarea {
    overflow: auto;
}
#tinymce.wp-editor optgroup {
    font-weight: bold;
}
#tinymce.wp-editor table {
    border-collapse: collapse;
    border-spacing: 0;
}
#tinymce.wp-editor td,
th {
    padding: 0;
}
#tinymce.wp-editor
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    #tinymce.wp-editor a,
    a:visited {
        text-decoration: underline;
    }
    #tinymce.wp-editor a[href]:after {
        content: " (" attr(href) ")";
    }
    #tinymce.wp-editor abbr[title]:after {
        content: " (" attr(title) ")";
    }
    #tinymce.wp-editor a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    #tinymce.wp-editor pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    #tinymce.wp-editor thead {
        display: table-header-group;
    }
    #tinymce.wp-editor tr,
    img {
        page-break-inside: avoid;
    }
    #tinymce.wp-editor img {
        max-width: 100% !important;
    }
    #tinymce.wp-editor p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    #tinymce.wp-editor h2,
    h3 {
        page-break-after: avoid;
    }
    #tinymce.wp-editor .navbar {
        display: none;
    }
    #tinymce.wp-editor .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    #tinymce.wp-editor .label {
        border: 1px solid #000;
    }
    #tinymce.wp-editor .table {
        border-collapse: collapse !important;
    }
    #tinymce.wp-editor .table td,
    .table th {
        background-color: #fff !important;
    }
    #tinymce.wp-editor .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tinymce.wp-editor *:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tinymce.wp-editor html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#tinymce.wp-editor body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
#tinymce.wp-editor input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#tinymce.wp-editor a {
    color: #337ab7;
    text-decoration: none;
}
#tinymce.wp-editor a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}
#tinymce.wp-editor a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#tinymce.wp-editor figure {
    margin: 0;
}
#tinymce.wp-editor img {
    vertical-align: middle;
}
#tinymce.wp-editor .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#tinymce.wp-editor .img-rounded {
    border-radius: 6px;
}
#tinymce.wp-editor .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
#tinymce.wp-editor .img-circle {
    border-radius: 50%;
}
#tinymce.wp-editor hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
#tinymce.wp-editor .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
#tinymce.wp-editor .sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
#tinymce.wp-editor [role="button"] {
    cursor: pointer;
}
#tinymce.wp-editor h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
#tinymce.wp-editor h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777;
}
#tinymce.wp-editor h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#tinymce.wp-editor h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}
#tinymce.wp-editor h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#tinymce.wp-editor h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}
#tinymce.wp-editor h1,
.h1 {
    font-size: 36px;
}
#tinymce.wp-editor h2,
.h2 {
    font-size: 30px;
}
#tinymce.wp-editor h3,
.h3 {
    font-size: 24px;
}
#tinymce.wp-editor h4,
.h4 {
    font-size: 18px;
}
#tinymce.wp-editor h5,
.h5 {
    font-size: 14px;
}
#tinymce.wp-editor h6,
.h6 {
    font-size: 12px;
}
#tinymce.wp-editor p {
    margin: 0 0 10px;
}
#tinymce.wp-editor .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor small,
.small {
    font-size: 85%;
}
#tinymce.wp-editor mark,
.mark {
    background-color: #fcf8e3;
    padding: .2em;
}
#tinymce.wp-editor .text-left {
    text-align: left;
}
#tinymce.wp-editor .text-right {
    text-align: right;
}
#tinymce.wp-editor .text-center {
    text-align: center;
}
#tinymce.wp-editor .text-justify {
    text-align: justify;
}
#tinymce.wp-editor .text-nowrap {
    white-space: nowrap;
}
#tinymce.wp-editor .text-lowercase {
    text-transform: lowercase;
}
#tinymce.wp-editor .text-uppercase {
    text-transform: uppercase;
}
#tinymce.wp-editor .text-capitalize {
    text-transform: capitalize;
}
#tinymce.wp-editor .text-muted {
    color: #777777;
}
#tinymce.wp-editor .text-primary {
    color: #337ab7;
}
#tinymce.wp-editor a.text-primary:hover,
a.text-primary:focus {
    color: #286090;
}
#tinymce.wp-editor .text-success {
    color: #3c763d;
}
#tinymce.wp-editor a.text-success:hover,
a.text-success:focus {
    color: #2b542c;
}
#tinymce.wp-editor .text-info {
    color: #31708f;
}
#tinymce.wp-editor a.text-info:hover,
a.text-info:focus {
    color: #245269;
}
#tinymce.wp-editor .text-warning {
    color: #8a6d3b;
}
#tinymce.wp-editor a.text-warning:hover,
a.text-warning:focus {
    color: #66512c;
}
#tinymce.wp-editor .text-danger {
    color: #a94442;
}
#tinymce.wp-editor a.text-danger:hover,
a.text-danger:focus {
    color: #843534;
}
#tinymce.wp-editor .bg-primary {
    color: #fff;
    background-color: #337ab7;
}
#tinymce.wp-editor a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #286090;
}
#tinymce.wp-editor .bg-success {
    background-color: #dff0d8;
}
#tinymce.wp-editor a.bg-success:hover,
a.bg-success:focus {
    background-color: #c1e2b3;
}
#tinymce.wp-editor .bg-info {
    background-color: #d9edf7;
}
#tinymce.wp-editor a.bg-info:hover,
a.bg-info:focus {
    background-color: #afd9ee;
}
#tinymce.wp-editor .bg-warning {
    background-color: #fcf8e3;
}
#tinymce.wp-editor a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #f7ecb5;
}
#tinymce.wp-editor .bg-danger {
    background-color: #f2dede;
}
#tinymce.wp-editor a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #e4b9b9;
}
#tinymce.wp-editor .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}
#tinymce.wp-editor ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
#tinymce.wp-editor ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}
#tinymce.wp-editor .list-unstyled {
    padding-left: 0;
    list-style: none;
}
#tinymce.wp-editor .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
#tinymce.wp-editor .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
#tinymce.wp-editor dl {
    margin-top: 0;
    margin-bottom: 20px;
}
#tinymce.wp-editor dt,
dd {
    line-height: 1.42857143;
}
#tinymce.wp-editor dt {
    font-weight: bold;
}
#tinymce.wp-editor dd {
    margin-left: 0;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #tinymce.wp-editor .dl-horizontal dd {
        margin-left: 180px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777777;
}
#tinymce.wp-editor .initialism {
    font-size: 90%;
    text-transform: uppercase;
}
#tinymce.wp-editor blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}
#tinymce.wp-editor blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}
#tinymce.wp-editor blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777777;
}
#tinymce.wp-editor blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}
#tinymce.wp-editor .blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0;
    text-align: right;
}
#tinymce.wp-editor .blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
    content: '';
}
#tinymce.wp-editor .blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014';
}
#tinymce.wp-editor address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
#tinymce.wp-editor code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#tinymce.wp-editor code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
#tinymce.wp-editor kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #333333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#tinymce.wp-editor kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#tinymce.wp-editor pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
#tinymce.wp-editor pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}
#tinymce.wp-editor .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
#tinymce.wp-editor .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .container {
        width: 750px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor @media (min-width: 992px) {
    .container {
        width: 970px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#tinymce.wp-editor .row {
    margin-left: -15px;
    margin-right: -15px;
}
#tinymce.wp-editor .col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#tinymce.wp-editor .col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}
#tinymce.wp-editor .col-xs-12 {
    width: 100%;
}
#tinymce.wp-editor .col-xs-11 {
    width: 91.66666667%;
}
#tinymce.wp-editor .col-xs-10 {
    width: 83.33333333%;
}
#tinymce.wp-editor .col-xs-9 {
    width: 75%;
}
#tinymce.wp-editor .col-xs-8 {
    width: 66.66666667%;
}
#tinymce.wp-editor .col-xs-7 {
    width: 58.33333333%;
}
#tinymce.wp-editor .col-xs-6 {
    width: 50%;
}
#tinymce.wp-editor .col-xs-5 {
    width: 41.66666667%;
}
#tinymce.wp-editor .col-xs-4 {
    width: 33.33333333%;
}
#tinymce.wp-editor .col-xs-3 {
    width: 25%;
}
#tinymce.wp-editor .col-xs-2 {
    width: 16.66666667%;
}
#tinymce.wp-editor .col-xs-1 {
    width: 8.33333333%;
}
#tinymce.wp-editor .col-xs-pull-12 {
    right: 100%;
}
#tinymce.wp-editor .col-xs-pull-11 {
    right: 91.66666667%;
}
#tinymce.wp-editor .col-xs-pull-10 {
    right: 83.33333333%;
}
#tinymce.wp-editor .col-xs-pull-9 {
    right: 75%;
}
#tinymce.wp-editor .col-xs-pull-8 {
    right: 66.66666667%;
}
#tinymce.wp-editor .col-xs-pull-7 {
    right: 58.33333333%;
}
#tinymce.wp-editor .col-xs-pull-6 {
    right: 50%;
}
#tinymce.wp-editor .col-xs-pull-5 {
    right: 41.66666667%;
}
#tinymce.wp-editor .col-xs-pull-4 {
    right: 33.33333333%;
}
#tinymce.wp-editor .col-xs-pull-3 {
    right: 25%;
}
#tinymce.wp-editor .col-xs-pull-2 {
    right: 16.66666667%;
}
#tinymce.wp-editor .col-xs-pull-1 {
    right: 8.33333333%;
}
#tinymce.wp-editor .col-xs-pull-0 {
    right: auto;
}
#tinymce.wp-editor .col-xs-push-12 {
    left: 100%;
}
#tinymce.wp-editor .col-xs-push-11 {
    left: 91.66666667%;
}
#tinymce.wp-editor .col-xs-push-10 {
    left: 83.33333333%;
}
#tinymce.wp-editor .col-xs-push-9 {
    left: 75%;
}
#tinymce.wp-editor .col-xs-push-8 {
    left: 66.66666667%;
}
#tinymce.wp-editor .col-xs-push-7 {
    left: 58.33333333%;
}
#tinymce.wp-editor .col-xs-push-6 {
    left: 50%;
}
#tinymce.wp-editor .col-xs-push-5 {
    left: 41.66666667%;
}
#tinymce.wp-editor .col-xs-push-4 {
    left: 33.33333333%;
}
#tinymce.wp-editor .col-xs-push-3 {
    left: 25%;
}
#tinymce.wp-editor .col-xs-push-2 {
    left: 16.66666667%;
}
#tinymce.wp-editor .col-xs-push-1 {
    left: 8.33333333%;
}
#tinymce.wp-editor .col-xs-push-0 {
    left: auto;
}
#tinymce.wp-editor .col-xs-offset-12 {
    margin-left: 100%;
}
#tinymce.wp-editor .col-xs-offset-11 {
    margin-left: 91.66666667%;
}
#tinymce.wp-editor .col-xs-offset-10 {
    margin-left: 83.33333333%;
}
#tinymce.wp-editor .col-xs-offset-9 {
    margin-left: 75%;
}
#tinymce.wp-editor .col-xs-offset-8 {
    margin-left: 66.66666667%;
}
#tinymce.wp-editor .col-xs-offset-7 {
    margin-left: 58.33333333%;
}
#tinymce.wp-editor .col-xs-offset-6 {
    margin-left: 50%;
}
#tinymce.wp-editor .col-xs-offset-5 {
    margin-left: 41.66666667%;
}
#tinymce.wp-editor .col-xs-offset-4 {
    margin-left: 33.33333333%;
}
#tinymce.wp-editor .col-xs-offset-3 {
    margin-left: 25%;
}
#tinymce.wp-editor .col-xs-offset-2 {
    margin-left: 16.66666667%;
}
#tinymce.wp-editor .col-xs-offset-1 {
    margin-left: 8.33333333%;
}
#tinymce.wp-editor .col-xs-offset-0 {
    margin-left: 0%;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    #tinymce.wp-editor .col-sm-12 {
        width: 100%;
    }
    #tinymce.wp-editor .col-sm-11 {
        width: 91.66666667%;
    }
    #tinymce.wp-editor .col-sm-10 {
        width: 83.33333333%;
    }
    #tinymce.wp-editor .col-sm-9 {
        width: 75%;
    }
    #tinymce.wp-editor .col-sm-8 {
        width: 66.66666667%;
    }
    #tinymce.wp-editor .col-sm-7 {
        width: 58.33333333%;
    }
    #tinymce.wp-editor .col-sm-6 {
        width: 50%;
    }
    #tinymce.wp-editor .col-sm-5 {
        width: 41.66666667%;
    }
    #tinymce.wp-editor .col-sm-4 {
        width: 33.33333333%;
    }
    #tinymce.wp-editor .col-sm-3 {
        width: 25%;
    }
    #tinymce.wp-editor .col-sm-2 {
        width: 16.66666667%;
    }
    #tinymce.wp-editor .col-sm-1 {
        width: 8.33333333%;
    }
    #tinymce.wp-editor .col-sm-pull-12 {
        right: 100%;
    }
    #tinymce.wp-editor .col-sm-pull-11 {
        right: 91.66666667%;
    }
    #tinymce.wp-editor .col-sm-pull-10 {
        right: 83.33333333%;
    }
    #tinymce.wp-editor .col-sm-pull-9 {
        right: 75%;
    }
    #tinymce.wp-editor .col-sm-pull-8 {
        right: 66.66666667%;
    }
    #tinymce.wp-editor .col-sm-pull-7 {
        right: 58.33333333%;
    }
    #tinymce.wp-editor .col-sm-pull-6 {
        right: 50%;
    }
    #tinymce.wp-editor .col-sm-pull-5 {
        right: 41.66666667%;
    }
    #tinymce.wp-editor .col-sm-pull-4 {
        right: 33.33333333%;
    }
    #tinymce.wp-editor .col-sm-pull-3 {
        right: 25%;
    }
    #tinymce.wp-editor .col-sm-pull-2 {
        right: 16.66666667%;
    }
    #tinymce.wp-editor .col-sm-pull-1 {
        right: 8.33333333%;
    }
    #tinymce.wp-editor .col-sm-pull-0 {
        right: auto;
    }
    #tinymce.wp-editor .col-sm-push-12 {
        left: 100%;
    }
    #tinymce.wp-editor .col-sm-push-11 {
        left: 91.66666667%;
    }
    #tinymce.wp-editor .col-sm-push-10 {
        left: 83.33333333%;
    }
    #tinymce.wp-editor .col-sm-push-9 {
        left: 75%;
    }
    #tinymce.wp-editor .col-sm-push-8 {
        left: 66.66666667%;
    }
    #tinymce.wp-editor .col-sm-push-7 {
        left: 58.33333333%;
    }
    #tinymce.wp-editor .col-sm-push-6 {
        left: 50%;
    }
    #tinymce.wp-editor .col-sm-push-5 {
        left: 41.66666667%;
    }
    #tinymce.wp-editor .col-sm-push-4 {
        left: 33.33333333%;
    }
    #tinymce.wp-editor .col-sm-push-3 {
        left: 25%;
    }
    #tinymce.wp-editor .col-sm-push-2 {
        left: 16.66666667%;
    }
    #tinymce.wp-editor .col-sm-push-1 {
        left: 8.33333333%;
    }
    #tinymce.wp-editor .col-sm-push-0 {
        left: auto;
    }
    #tinymce.wp-editor .col-sm-offset-12 {
        margin-left: 100%;
    }
    #tinymce.wp-editor .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    #tinymce.wp-editor .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    #tinymce.wp-editor .col-sm-offset-9 {
        margin-left: 75%;
    }
    #tinymce.wp-editor .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    #tinymce.wp-editor .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    #tinymce.wp-editor .col-sm-offset-6 {
        margin-left: 50%;
    }
    #tinymce.wp-editor .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    #tinymce.wp-editor .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    #tinymce.wp-editor .col-sm-offset-3 {
        margin-left: 25%;
    }
    #tinymce.wp-editor .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    #tinymce.wp-editor .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    #tinymce.wp-editor .col-sm-offset-0 {
        margin-left: 0%;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor @media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    #tinymce.wp-editor .col-md-12 {
        width: 100%;
    }
    #tinymce.wp-editor .col-md-11 {
        width: 91.66666667%;
    }
    #tinymce.wp-editor .col-md-10 {
        width: 83.33333333%;
    }
    #tinymce.wp-editor .col-md-9 {
        width: 75%;
    }
    #tinymce.wp-editor .col-md-8 {
        width: 66.66666667%;
    }
    #tinymce.wp-editor .col-md-7 {
        width: 58.33333333%;
    }
    #tinymce.wp-editor .col-md-6 {
        width: 50%;
    }
    #tinymce.wp-editor .col-md-5 {
        width: 41.66666667%;
    }
    #tinymce.wp-editor .col-md-4 {
        width: 33.33333333%;
    }
    #tinymce.wp-editor .col-md-3 {
        width: 25%;
    }
    #tinymce.wp-editor .col-md-2 {
        width: 16.66666667%;
    }
    #tinymce.wp-editor .col-md-1 {
        width: 8.33333333%;
    }
    #tinymce.wp-editor .col-md-pull-12 {
        right: 100%;
    }
    #tinymce.wp-editor .col-md-pull-11 {
        right: 91.66666667%;
    }
    #tinymce.wp-editor .col-md-pull-10 {
        right: 83.33333333%;
    }
    #tinymce.wp-editor .col-md-pull-9 {
        right: 75%;
    }
    #tinymce.wp-editor .col-md-pull-8 {
        right: 66.66666667%;
    }
    #tinymce.wp-editor .col-md-pull-7 {
        right: 58.33333333%;
    }
    #tinymce.wp-editor .col-md-pull-6 {
        right: 50%;
    }
    #tinymce.wp-editor .col-md-pull-5 {
        right: 41.66666667%;
    }
    #tinymce.wp-editor .col-md-pull-4 {
        right: 33.33333333%;
    }
    #tinymce.wp-editor .col-md-pull-3 {
        right: 25%;
    }
    #tinymce.wp-editor .col-md-pull-2 {
        right: 16.66666667%;
    }
    #tinymce.wp-editor .col-md-pull-1 {
        right: 8.33333333%;
    }
    #tinymce.wp-editor .col-md-pull-0 {
        right: auto;
    }
    #tinymce.wp-editor .col-md-push-12 {
        left: 100%;
    }
    #tinymce.wp-editor .col-md-push-11 {
        left: 91.66666667%;
    }
    #tinymce.wp-editor .col-md-push-10 {
        left: 83.33333333%;
    }
    #tinymce.wp-editor .col-md-push-9 {
        left: 75%;
    }
    #tinymce.wp-editor .col-md-push-8 {
        left: 66.66666667%;
    }
    #tinymce.wp-editor .col-md-push-7 {
        left: 58.33333333%;
    }
    #tinymce.wp-editor .col-md-push-6 {
        left: 50%;
    }
    #tinymce.wp-editor .col-md-push-5 {
        left: 41.66666667%;
    }
    #tinymce.wp-editor .col-md-push-4 {
        left: 33.33333333%;
    }
    #tinymce.wp-editor .col-md-push-3 {
        left: 25%;
    }
    #tinymce.wp-editor .col-md-push-2 {
        left: 16.66666667%;
    }
    #tinymce.wp-editor .col-md-push-1 {
        left: 8.33333333%;
    }
    #tinymce.wp-editor .col-md-push-0 {
        left: auto;
    }
    #tinymce.wp-editor .col-md-offset-12 {
        margin-left: 100%;
    }
    #tinymce.wp-editor .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    #tinymce.wp-editor .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    #tinymce.wp-editor .col-md-offset-9 {
        margin-left: 75%;
    }
    #tinymce.wp-editor .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    #tinymce.wp-editor .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    #tinymce.wp-editor .col-md-offset-6 {
        margin-left: 50%;
    }
    #tinymce.wp-editor .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    #tinymce.wp-editor .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    #tinymce.wp-editor .col-md-offset-3 {
        margin-left: 25%;
    }
    #tinymce.wp-editor .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    #tinymce.wp-editor .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    #tinymce.wp-editor .col-md-offset-0 {
        margin-left: 0%;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor @media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    #tinymce.wp-editor .col-lg-12 {
        width: 100%;
    }
    #tinymce.wp-editor .col-lg-11 {
        width: 91.66666667%;
    }
    #tinymce.wp-editor .col-lg-10 {
        width: 83.33333333%;
    }
    #tinymce.wp-editor .col-lg-9 {
        width: 75%;
    }
    #tinymce.wp-editor .col-lg-8 {
        width: 66.66666667%;
    }
    #tinymce.wp-editor .col-lg-7 {
        width: 58.33333333%;
    }
    #tinymce.wp-editor .col-lg-6 {
        width: 50%;
    }
    #tinymce.wp-editor .col-lg-5 {
        width: 41.66666667%;
    }
    #tinymce.wp-editor .col-lg-4 {
        width: 33.33333333%;
    }
    #tinymce.wp-editor .col-lg-3 {
        width: 25%;
    }
    #tinymce.wp-editor .col-lg-2 {
        width: 16.66666667%;
    }
    #tinymce.wp-editor .col-lg-1 {
        width: 8.33333333%;
    }
    #tinymce.wp-editor .col-lg-pull-12 {
        right: 100%;
    }
    #tinymce.wp-editor .col-lg-pull-11 {
        right: 91.66666667%;
    }
    #tinymce.wp-editor .col-lg-pull-10 {
        right: 83.33333333%;
    }
    #tinymce.wp-editor .col-lg-pull-9 {
        right: 75%;
    }
    #tinymce.wp-editor .col-lg-pull-8 {
        right: 66.66666667%;
    }
    #tinymce.wp-editor .col-lg-pull-7 {
        right: 58.33333333%;
    }
    #tinymce.wp-editor .col-lg-pull-6 {
        right: 50%;
    }
    #tinymce.wp-editor .col-lg-pull-5 {
        right: 41.66666667%;
    }
    #tinymce.wp-editor .col-lg-pull-4 {
        right: 33.33333333%;
    }
    #tinymce.wp-editor .col-lg-pull-3 {
        right: 25%;
    }
    #tinymce.wp-editor .col-lg-pull-2 {
        right: 16.66666667%;
    }
    #tinymce.wp-editor .col-lg-pull-1 {
        right: 8.33333333%;
    }
    #tinymce.wp-editor .col-lg-pull-0 {
        right: auto;
    }
    #tinymce.wp-editor .col-lg-push-12 {
        left: 100%;
    }
    #tinymce.wp-editor .col-lg-push-11 {
        left: 91.66666667%;
    }
    #tinymce.wp-editor .col-lg-push-10 {
        left: 83.33333333%;
    }
    #tinymce.wp-editor .col-lg-push-9 {
        left: 75%;
    }
    #tinymce.wp-editor .col-lg-push-8 {
        left: 66.66666667%;
    }
    #tinymce.wp-editor .col-lg-push-7 {
        left: 58.33333333%;
    }
    #tinymce.wp-editor .col-lg-push-6 {
        left: 50%;
    }
    #tinymce.wp-editor .col-lg-push-5 {
        left: 41.66666667%;
    }
    #tinymce.wp-editor .col-lg-push-4 {
        left: 33.33333333%;
    }
    #tinymce.wp-editor .col-lg-push-3 {
        left: 25%;
    }
    #tinymce.wp-editor .col-lg-push-2 {
        left: 16.66666667%;
    }
    #tinymce.wp-editor .col-lg-push-1 {
        left: 8.33333333%;
    }
    #tinymce.wp-editor .col-lg-push-0 {
        left: auto;
    }
    #tinymce.wp-editor .col-lg-offset-12 {
        margin-left: 100%;
    }
    #tinymce.wp-editor .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    #tinymce.wp-editor .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    #tinymce.wp-editor .col-lg-offset-9 {
        margin-left: 75%;
    }
    #tinymce.wp-editor .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    #tinymce.wp-editor .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    #tinymce.wp-editor .col-lg-offset-6 {
        margin-left: 50%;
    }
    #tinymce.wp-editor .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    #tinymce.wp-editor .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    #tinymce.wp-editor .col-lg-offset-3 {
        margin-left: 25%;
    }
    #tinymce.wp-editor .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    #tinymce.wp-editor .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    #tinymce.wp-editor .col-lg-offset-0 {
        margin-left: 0%;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor table {
    background-color: transparent;
}
#tinymce.wp-editor caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: left;
}
#tinymce.wp-editor th {
    text-align: left;
}
#tinymce.wp-editor .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
#tinymce.wp-editor .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
#tinymce.wp-editor .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
#tinymce.wp-editor .table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
#tinymce.wp-editor .table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
#tinymce.wp-editor .table .table {
    background-color: #ffffff;
}
#tinymce.wp-editor .table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}
#tinymce.wp-editor .table-bordered {
    border: 1px solid #dddddd;
}
#tinymce.wp-editor .table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
#tinymce.wp-editor .table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
#tinymce.wp-editor .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
#tinymce.wp-editor .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
#tinymce.wp-editor table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
#tinymce.wp-editor table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
#tinymce.wp-editor .table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}
#tinymce.wp-editor .table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}
#tinymce.wp-editor .table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
#tinymce.wp-editor .table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}
#tinymce.wp-editor .table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
#tinymce.wp-editor .table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}
#tinymce.wp-editor .table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}
#tinymce.wp-editor .table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}
#tinymce.wp-editor .table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
#tinymce.wp-editor .table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}
#tinymce.wp-editor .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
#tinymce.wp-editor @media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }
    #tinymce.wp-editor .table-responsive > .table {
        margin-bottom: 0;
    }
    #tinymce.wp-editor .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    #tinymce.wp-editor .table-responsive > .table-bordered {
        border: 0;
    }
    #tinymce.wp-editor .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    #tinymce.wp-editor .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    #tinymce.wp-editor .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
#tinymce.wp-editor legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
#tinymce.wp-editor label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
#tinymce.wp-editor input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tinymce.wp-editor input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
#tinymce.wp-editor input[type="file"] {
    display: block;
}
#tinymce.wp-editor input[type="range"] {
    display: block;
    width: 100%;
}
#tinymce.wp-editor select[multiple],
select[size] {
    height: auto;
}
#tinymce.wp-editor input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#tinymce.wp-editor output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}
#tinymce.wp-editor .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#tinymce.wp-editor .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#tinymce.wp-editor .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
#tinymce.wp-editor .form-control:-ms-input-placeholder {
    color: #999999;
}
#tinymce.wp-editor .form-control::-webkit-input-placeholder {
    color: #999999;
}
#tinymce.wp-editor .form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}
#tinymce.wp-editor .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
}
#tinymce.wp-editor .form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
#tinymce.wp-editor textarea.form-control {
    height: auto;
}
#tinymce.wp-editor input[type="search"] {
    -webkit-appearance: none;
}
#tinymce.wp-editor @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 34px;
    }
    #tinymce.wp-editor input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
        line-height: 30px;
    }
    #tinymce.wp-editor input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 46px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor .form-group {
    margin-bottom: 15px;
}
#tinymce.wp-editor .radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tinymce.wp-editor .radio label,
.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
#tinymce.wp-editor .radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
#tinymce.wp-editor .radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px;
}
#tinymce.wp-editor .radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
#tinymce.wp-editor .radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
#tinymce.wp-editor input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
#tinymce.wp-editor .radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
#tinymce.wp-editor .radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}
#tinymce.wp-editor .form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px;
}
#tinymce.wp-editor .form-control-static.input-lg,
.form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0;
}
#tinymce.wp-editor .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#tinymce.wp-editor select.input-sm {
    height: 30px;
    line-height: 30px;
}
#tinymce.wp-editor textarea.input-sm,
select[multiple].input-sm {
    height: auto;
}
#tinymce.wp-editor .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#tinymce.wp-editor .form-group-sm select.form-control {
    height: 30px;
    line-height: 30px;
}
#tinymce.wp-editor .form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
    height: auto;
}
#tinymce.wp-editor .form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
}
#tinymce.wp-editor .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
#tinymce.wp-editor select.input-lg {
    height: 46px;
    line-height: 46px;
}
#tinymce.wp-editor textarea.input-lg,
select[multiple].input-lg {
    height: auto;
}
#tinymce.wp-editor .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
#tinymce.wp-editor .form-group-lg select.form-control {
    height: 46px;
    line-height: 46px;
}
#tinymce.wp-editor .form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto;
}
#tinymce.wp-editor .form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
#tinymce.wp-editor .has-feedback {
    position: relative;
}
#tinymce.wp-editor .has-feedback .form-control {
    padding-right: 42.5px;
}
#tinymce.wp-editor .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
#tinymce.wp-editor .input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
}
#tinymce.wp-editor .input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#tinymce.wp-editor .has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}
#tinymce.wp-editor .has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tinymce.wp-editor .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
#tinymce.wp-editor .has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
#tinymce.wp-editor .has-success .form-control-feedback {
    color: #3c763d;
}
#tinymce.wp-editor .has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #8a6d3b;
}
#tinymce.wp-editor .has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tinymce.wp-editor .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
#tinymce.wp-editor .has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
#tinymce.wp-editor .has-warning .form-control-feedback {
    color: #8a6d3b;
}
#tinymce.wp-editor .has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
#tinymce.wp-editor .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tinymce.wp-editor .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#tinymce.wp-editor .has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
#tinymce.wp-editor .has-error .form-control-feedback {
    color: #a94442;
}
#tinymce.wp-editor .has-feedback label ~ .form-control-feedback {
    top: 25px;
}
#tinymce.wp-editor .has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}
#tinymce.wp-editor .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    #tinymce.wp-editor .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    #tinymce.wp-editor .form-inline .form-control-static {
        display: inline-block;
    }
    #tinymce.wp-editor .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    #tinymce.wp-editor .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto;
    }
    #tinymce.wp-editor .form-inline .input-group > .form-control {
        width: 100%;
    }
    #tinymce.wp-editor .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    #tinymce.wp-editor .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    #tinymce.wp-editor .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0;
    }
    #tinymce.wp-editor .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    #tinymce.wp-editor .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor .form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
#tinymce.wp-editor .form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px;
}
#tinymce.wp-editor .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor .form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
#tinymce.wp-editor @media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor @media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }
    #tinymce.wp-editor
}
#tinymce.wp-editor .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#tinymce.wp-editor .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#tinymce.wp-editor .btn:hover,
.btn:focus,
.btn.focus {
    color: #333333;
    text-decoration: none;
}
#tinymce.wp-editor .btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#tinymce.wp-editor .btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
#tinymce.wp-editor a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}
#tinymce.wp-editor .btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
#tinymce.wp-editor .btn-default:focus,
.btn-default.focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
#tinymce.wp-editor .btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#tinymce.wp-editor .btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#tinymce.wp-editor .btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
#tinymce.wp-editor .btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
#tinymce.wp-editor .btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #ffffff;
    border-color: #cccccc;
}
#tinymce.wp-editor .btn-default .badge {
    color: #ffffff;
    background-color: #333333;
}
#tinymce.wp-editor .btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#tinymce.wp-editor .btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #286090;
    border-color: #122b40;
}
#tinymce.wp-editor .btn-primary:hover {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
#tinymce.wp-editor .btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
#tinymce.wp-editor .btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
}
#tinymce.wp-editor .btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
#tinymce.wp-editor .btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
#tinymce.wp-editor .btn-primary .badge {
    color: #337ab7;
    background-color: #ffffff;
}
#tinymce.wp-editor .btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#tinymce.wp-editor .btn-success:focus,
.btn-success.focus {
    color: #ffffff;
    background-color: #449d44;
    border-color: #255625;
}
#tinymce.wp-editor .btn-success:hover {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
#tinymce.wp-editor .btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
#tinymce.wp-editor .btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
}
#tinymce.wp-editor .btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
#tinymce.wp-editor .btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#tinymce.wp-editor .btn-success .badge {
    color: #5cb85c;
    background-color: #ffffff;
}
#tinymce.wp-editor .btn-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
#tinymce.wp-editor .btn-info:focus,
.btn-info.focus {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
#tinymce.wp-editor .btn-info:hover {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
#tinymce.wp-editor .btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
#tinymce.wp-editor .btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
}
#tinymce.wp-editor .btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
#tinymce.wp-editor .btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}
#tinymce.wp-editor .btn-info .badge {
    color: #5bc0de;
    background-color: #ffffff;
}
#tinymce.wp-editor .btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
#tinymce.wp-editor .btn-warning:focus,
.btn-warning.focus {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #985f0d;
}
#tinymce.wp-editor .btn-warning:hover {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
#tinymce.wp-editor .btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
#tinymce.wp-editor .btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
}
#tinymce.wp-editor .btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
#tinymce.wp-editor .btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}
#tinymce.wp-editor .btn-warning .badge {
    color: #f0ad4e;
    background-color: #ffffff;
}
#tinymce.wp-editor .btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#tinymce.wp-editor .btn-danger:focus,
.btn-danger.focus {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #761c19;
}
#tinymce.wp-editor .btn-danger:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
#tinymce.wp-editor .btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
#tinymce.wp-editor .btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
}
#tinymce.wp-editor .btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
#tinymce.wp-editor .btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
#tinymce.wp-editor .btn-danger .badge {
    color: #d9534f;
    background-color: #ffffff;
}
#tinymce.wp-editor .btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
}
#tinymce.wp-editor .btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#tinymce.wp-editor .btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
#tinymce.wp-editor .btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
#tinymce.wp-editor .btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}
#tinymce.wp-editor .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
#tinymce.wp-editor .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#tinymce.wp-editor .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#tinymce.wp-editor .btn-block {
    display: block;
    width: 100%;
}
#tinymce.wp-editor .btn-block + .btn-block {
    margin-top: 5px;
}
#tinymce.wp-editor input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
#tinymce.wp-editor .clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table;
}
#tinymce.wp-editor .clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after {
    clear: both;
}
#tinymce.wp-editor .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tinymce.wp-editor .pull-right {
    float: right !important;
}
#tinymce.wp-editor .pull-left {
    float: left !important;
}
#tinymce.wp-editor .hide {
    display: none !important;
}
#tinymce.wp-editor .show {
    display: block !important;
}
#tinymce.wp-editor .invisible {
    visibility: hidden;
}
#tinymce.wp-editor .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
#tinymce.wp-editor .hidden {
    display: none !important;
}
#tinymce.wp-editor .affix {
    position: fixed;
}
