/* DIN PRO */

@font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 300;
    src: local('DIN Pro Light'), url('../fonts/DINPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: italic;
    font-weight: 300;
    src: local('DIN Pro Light Italic'), url('../fonts/DINPro-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Pro'), url('../fonts/DINPro.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: italic;
    font-weight: normal;
    src: local('DIN Pro Italic'), url('../fonts/DINPro-Italic.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    src: local('DIN Pro Medium'), url('../fonts/DINPro-Medium.woff') format('woff');
}
@font-face {
    font-family: 'DIN Pro';
    font-style: italic;
    font-weight: 500;
    src: local('DIN Pro Medium Italic'), url('../fonts/DINPro-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 600;
    src: local('DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    font-style: italic;
    font-weight: 600;
    src: local('DIN Pro Bold Italic'), url('../fonts/DINPro-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Black'), url('../fonts/DINPro-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'DIN Pro';
    font-style: italic;
    font-weight: 900;
    src: local('DIN Pro Black Italic'), url('../fonts/DINPro-BlackItalic.woff') format('woff');
}

/* HELVETICA NEUE */

@font-face {
    font-family: 'Helvetica Neue LT';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 45 Regular'), url('../fonts/HelveticaNeueLTStd Reg.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT';
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 45 Italic'), url('../fonts/HelveticaNeueLTStd It.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue LT Std 45 Light'), url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT';
    font-style: normal;
    font-weight: 100;
    src: local('Helvetica Neue LT Std 45 Ultra Light'), url('../fonts/HelveticaNeueLTStd ULt.woff') format('woff');
}
