/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* FONT FACE
-------------------------------------------------------------- */
@import 'font-face.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@darkgray: #4c4c4c;
@background: #121213;
@white: #FFFFFF;
@yellow: #F2BB17;
@gray: #8e9090;

@keyframes shakerr {
    10%, 90% { transform: translate3d(0, -5px, 0); }

    20%, 80% { transform: translate3d(0, 5px, 0); }
}

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme commons
-------------------------------------------------------------- */
@import 'less/layouts.less';
/* --------------------------------------------------------------
TRANSITION DELAY - LESS LOOP
-------------------------------------------------------------- */
.generate-columns(7);

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .delay-@{i} {
        -webkit-animation-duration: (@i) + 0s;
        animation-duration: (@i) + 0s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: (@i / 2) + 0s;
        -webkit-animation-delay: (@i / 2) + 0s;
    }
    .generate-columns(@n, (@i + 1));

}
/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    position: relative;
    font-weight: 400;
    font-family: 'Helvetica Neue LT';
    background: #000 url(../images/bg-big.jpg);
}

a {
    .transition(all .2s ease-in-out);
    color: @yellow;

    &:hover { text-decoration: none; }
}

.the-header {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 99;
    padding-left: 20px;
    font-family: 'DIN Pro';
    font-weight: 100;
    .transition(all .3s ease-in-out);

    & .the-header-bigline {
        height: 100vh;
        border-left: 1px solid @darkgray;
    }

    & .menu-bars {
        margin-top: 35px;
        border-top: 2px solid gray;
        padding: 5px 15px;
        display: block !important;
        float: none !important;
        border-bottom: 2px solid gray;
        border-radius: 0 !important;
        display: none !important;

        & .x-sign { display: none; }

        & .icon-bar {
            display: block;
            width: 35px;
            height: 2px;
            border-radius: 0px;
            margin: 10px 0;
            border-bottom: 4px solid @yellow;
        }
    }

    & .social-menu {
        visibility: hidden;
        text-align: left;
        width: 100%;

        & a { color: #000; }

        & .fa {
            padding: 10px 5px;
            font-size: 20px;
        }
    }

    & .search-bar { visibility: hidden; }
}

.the-header-mobile {
    & .img-brands {
        margin-top: -10px;
        max-width: 170px;
    }

    & .navbar-default {
        background: black;
        border: 0;

        & .navbar-toggle {
            border-radius: 0;
            border-top: 0;
            border-bottom: 0;
            border-left: 2px solid;
            border-right: 2px solid;

            & .icon-bar { background-color: @yellow; }

            &:hover { background-color: transparent; }
        }

        & .active a {
            background: none !important;
            border-top: 1px solid @yellow;
            border-bottom: 1px solid @yellow;
        }

        & a {
            &:hover { color: @yellow; }
        }
    }
}

.menu-container-big {
    background: rgba(78, 78, 78, 0.45);

    & a { color: #FFF; }
}

.menu-container-big-show {
    .transition(all .3s ease-in-out);
    background: @yellow;

    & a { color: #000; }

    & .menu-bars {
        border-top-color: black;
        border-bottom-color: black;

        & .icon-bar { display: none; }

        & .x-sign {
            display: block !important;
            font-family: 'Helvetica Neue LT';
            font-size: 60px;
            margin: 0;
            padding: 5px 0px;
            padding-bottom: 20px;
            line-height: 30px;
        }
    }

    & .menu-container-noaffixed ul li {
        border-left-color: black;

        & a {
            color: black;
            border-bottom: 1px solid #000;
        }
    }

    & .btn-custom-search {
        background: black;
        color: @yellow;
        border: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    & input.form-control {
        background: black;
        color: #FFF;
        border: 0;
    }

    & .affix-container li { border-left: 3px solid #000; }

    & .affix-container li a {
        color: black;
        border-bottom: 1px solid #000;
    }

    .affix-container .active { border-left: 3px solid #000 !important; }

    & .affix-container .active a {
        color: #000;
        border-bottom: 1px solid #000;
    }

    & .social-menu { visibility: visible; }

    & .search-bar { visibility: visible; }
}

.affix-container {
    list-style: none;
    padding: 0;
    padding-top: 15px;
    width: 100%;

    & li {
        margin-bottom: 15px;
        border-left: 3px solid @gray;
        padding: 5px 0 !important;

        & a {
            color: @gray;
            text-decoration: none;
            padding: 5px;
            padding-left: 3px;
            border-bottom: 1px solid transparent;
            display: block;
            letter-spacing: -.5px;
            font-weight: 300;
            font-size: 16px;

            &:hover {
                text-decoration: none;
                background-color: transparent !important;
            }

            &:focus {
                text-decoration: none;
                background-color: transparent !important;
            }
        }

        &:hover {
            border-left: 3px solid @yellow !important;

            & a {
                color: @yellow;
                border-bottom: 1px solid @yellow;

                &:focus {
                    text-decoration: none;
                    background-color: transparent !important;
                }
            }
        }
    }

    & .active {
        //        border-left: 3px solid @yellow !important;

        & a {
            //            color: @yellow;
            //            border-bottom: 1px solid @yellow;
        }
    }
}

.menu-container-noaffixed {
    padding-top: 30%;

    & ul {
        list-style: none;
        padding-left: 0;

        & li {
            margin-bottom: 20px;
            border-left: 3px solid @gray;
            padding: 5px 0 !important;

            & a {
                color: @gray;
                text-decoration: none;
                padding: 5px;
                padding-left: 3px;
                border-bottom: 1px solid @gray;
                display: block;
                letter-spacing: -0.5px;
                font-weight: 300;
                font-size: 18px;
            }

            &:hover {
                border-left: 3px solid @gray !important;

                & a {
                    color: @gray;
                    border-bottom: 1px solid @gray;
                }
            }
        }

        & .current-menu-item {
            border-left: 3px solid @yellow !important;

            & a {
                color: @yellow;
                border-bottom: 1px solid @yellow;
            }
        }

        & .menu-item-has-children {
            & ul {
                padding-left: 30px;
                padding-top: 0px;
            }
        }
    }
}

.sub-menu {
    height: 0;
    overflow: hidden;
}

/* INICIO */
.the-slider {
    height: 100vh;
    padding-top: 12%;
    background-size: cover !important;
    background-position: top center !important;
    position: relative;
    .transition(all .3s ease-in-out);
}

.slider-img-background {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
}

.slider-img-background-item {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    .transition(all .3s ease-in-out);

    & img { width: 100%; }
}

.slider-img-background-item-active {
    visibility: visible;
    opacity: 1;
    .transition(all .3s ease-in-out);
}

.slider-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 1;
}

.slider-content {
    z-index: 5;
    text-align: center;
    overflow: hidden;

    & h3 {
        margin-top: 40px;
        margin-bottom: 0px;
        color: @gray;
        font-family: 'DIN Pro';
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 2px;

        & strong {
            color: @yellow;
            font-weight: 600;
        }
    }
}

.slider-text-container {
    position: relative;
    border: 1px solid @yellow;
    border-bottom: 0;
    margin-top: 35px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    max-height: 170px;
    line-height: 22px;
    font-family: 'DIN Pro';

    & .owl-controls {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 96.5%;
        bottom: -18px;

        & .owl-page span {
            width: 8px !important;
            height: 8px !important;
            margin: 8px 8px !important;
            filter: Alpha(Opacity=70) !important;
            opacity: 0.7 !important;
            background: #e2e2e2 !important;

            &:hover { background: @yellow !important; }
        }

        & .owl-page.active span {
            background: none !important;
            border: 1px solid #a6a6a6;
        }
    }

    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40%;
        height: 2px;
        border-bottom: 2px solid @yellow;
    }

    &:after {
        content: ' ';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
        height: 2px;
        border-bottom: 2px solid @yellow;
    }
}

.slider-text-content {
    color: @yellow;
    text-transform: uppercase;
    letter-spacing: .5px;

    & h6 {
        font-family: 'Helvetica Neue LT';
        color: @gray;
        font-size: 17px;
        font-weight: 900;
        text-transform: none;
        letter-spacing: 1px;
        margin-top: 20px;

        &:before {
            content: '|';
            font-size: 18px;
            display: inline-block;
            vertical-align: top;
            padding-right: 5px;
        }

        &:after {
            content: '|';
            font-size: 18px;
            display: inline-block;
            vertical-align: top;
            padding-left: 5px;
        }
    }

    & p:nth-child(1) {
        font-size: 21.11px;
        font-family: 'DIN Pro';
        font-weight: 900;
    }

    & p:nth-child(2) {
        font-size: 21.11px;
        font-family: 'DIN Pro';
    }
}

.slider-text-container-extra {
    position: absolute;
    top: 63%;
    padding: 25px;
    padding-top: 15px;
    width: 96%;

    & span:nth-child(1) { float: left; }

    & span:nth-child(2) { float: right; }
}

.mouse-over {
    height: 50px;
    width: 35px;
    display: block;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    position: relative;
    display: none;

    & img {
        animation: shaker 1.82s cubic-bezier(.36,.07,.19,.97) both;
        animation-iteration-count: infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        .transition(all .3s ease-in-out);
    }

    &:hover {
        & img {
            animation: shaker 1.82s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count: infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            filter: invert(1);
            opacity: .5;
            .transition(all .3s ease-in-out);
        }
    }

    &:after {
        content: ' ';
        display: none;
        position: absolute;
        height: 290px;
        width: 2px;
        top: 65px;
        border-left: 1px solid #8c9192;
        left: 45%;
    }
}

.logo-letters {
    & img {
        width: 100%;
        opacity: 0.3;
    }
}

.the-about { padding-top: 20%; }

.about-content {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    color: #8c9192;
    line-height: 30px;

    & h4 {
        font-family: 'Helvetica Neue LT';
        color: @yellow;
        font-style: italic;
        font-size: 21px;
        margin-bottom: 25px;
        letter-spacing: .5px;
        font-weight: 500;
    }

    & h5 {
        font-family: 'Helvetica Neue LT';
        color: @yellow;
        font-style: italic;
        margin-bottom: 25px;
        letter-spacing: .5px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 25px;
        font-weight: 700;
    }
}

.the-tabs {
    position: relative;
    height: auto;

    & .avila-bg {
        background: url(../images/bg-avila.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
    }

    & .host-image {
        position: inherit;
        z-index: 10;
    }
}

.host-image-mask {
    position: relative;
    min-height: 75vh;
}

.hoster-custom-img {
    position: absolute;
    cursor: pointer;
    .filter(grayscale(1));
    .transition(all .2s ease-in-out);

    &:hover {
        .filter(grayscale(0));
        .transition(all .2s ease-in-out);
    }
}

.hoster-custom-img-active {
    .filter(grayscale(0));
    .transition(all .2s ease-in-out);
}

.hoster-custom-img-1 {
    top: 0;
    left: 0;
}

.hoster-custom-img-2 {
    top: 62px;
    left: 18.3%;
}

.hoster-custom-img-3 {
    top: 42px;
    right: 41.1%;
    z-index: 2;
}

.hoster-custom-img-4 {
    top: 0px;
    right: 22%;
}

.hoster-custom-img-5 {
    top: 0;
    right: 0;
}

.img-hidden { display: none; }

.tabs-container { z-index: 10; }

.loader-tab {
    background: url(../images/ring-alt.svg);
    height: 116px;
    width: 116px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    clear: both;
}

.nav-tabs {
    border-bottom: 1px solid #585858;
    text-align: left;
    margin-top: -90px;
    margin-left: 60px !important;
    margin-right: 5px !important;

    & li {
        float: none;
        display: inline-block;
        margin-bottom: -1px;
        border-bottom: 3px solid #75797A;
        margin-right: 67px;
        .transition(all .2s ease-in-out);

        &:hover {
            .transition(all .2s ease-in-out);
            border-bottom: 3px solid #f2bb17;
        }

        & a {
            color: #f2bb17;
            position: relative;
            display: block;
            padding: 10px 15px;
            opacity: 0;
            border: 0;
            .transition(all .2s ease-in-out);

            &:hover {
                .transition(all .2s ease-in-out);
                opacity: 1;
                background: none transparent;
                border: 0;
            }
        }
    }

    & .active {
        .transition(all .2s ease-in-out);
        border-bottom: 3px solid #f2bb17;

        & a {
            .transition(all .2s ease-in-out);
            opacity: 1;
            color: #f2bb17 !important;
            background: none transparent !important;
            border: 0 !important;
        }
    }
}

.tab-inner-container {
    font-size: 18px;
    text-align: justify;
    color: #a1a1a1;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.the-tab-logo {
    margin-bottom: 20px;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.tabs-more-content button {
    font-family: 'Helvetica Neue LT';
    width: 100%;
    background: none;
    border: 0;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;
    color: @yellow;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 19px;
    font-weight: 300;
    margin-top: 15px;
    .transition(all .3s ease-in-out);

    &:hover {
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray;
        color: @gray;
        .transition(all .3s ease-in-out);
    }
}

.cocktails-container {
    & h2 {
        font-family: 'Helvetica Neue LT';
        font-size: 50px;
        text-align: right;
        font-weight: 100;
        color: #f2bb17;
        margin-bottom: 40px;
        letter-spacing: 8px;
    }
}

.cocktails-content {
    text-align: justify;
    font-family: 'Helvetica Neue LT';
    font-size: 18px;
    line-height: 28px;
    color: #8c9192;
}

.cocktails-slide-container { margin-top: 40px; }

.cocktails-slide-paginator {
    & ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;

        & li {
            display: inline-block;
            .transition(all .3s ease-in-out);

            &:hover {
                color: @gray;
                .transition(all .3s ease-in-out);
            }
        }
    }
}

.cocktail_changer {
    cursor: pointer;
    color: @yellow !important;
    .transition(all .3s ease-in-out);

    &:hover {
        color: @gray;
        .transition(all .3s ease-in-out);
    }
}

.cocktails-slide-info {
    & h2 {
        font-family: 'Helvetica Neue LT';
        font-weight: 100;
        margin: 0;
        padding: 0;
        font-size: 2em;
        margin-top: -15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 4px !important;
        border-bottom: 2px solid @gray;
    }
}

.cocktails-slide-info-content {
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
    color: #8c9192;

    & h1, h2, h3, h4, h5, h6 { color: @yellow; }
}

.cocktails-more-content button {
    font-family: 'Helvetica Neue LT';
    width: 100%;
    background: none;
    border: 0;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;
    color: @yellow;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 19px;
    font-weight: 300;
    margin-top: 20px;
    .transition(all .3s ease-in-out);

    &:hover {
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray;
        color: @gray;
        .transition(all .3s ease-in-out);
    }
}

.cocktail-img-active { display: block; }

.cocktail-img-inactive { display: none; }

.cocktail-info-active { display: block; }

.cocktail-info-inactive { display: none; }

.cocktails-slide-paginator {
    padding: 15px 0;
    font-size: 23px;
    padding-bottom: 5px;

    & ul {
        & li {
            padding: 0 5px;

            & a {
                color: @gray;
                cursor: pointer;
            }
        }
    }
}

.cocktail-link-active {
    color: @yellow !important;
    cursor: none !important;
}

.the-events { padding-top: 90px; }

.events-container {
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    color: #8c9192;
    line-height: 30px;

    & strong { color: @yellow; }

    & h2 {
        font-family: 'Helvetica Neue LT';
        font-size: 50px;
        text-align: right;
        font-weight: 100;
        color: @yellow;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }

    & p:nth-child(3) { display: inline-block; }

    & i {
        color: @yellow;
        margin-right: 0px;
        margin-left: 8px;
    }
}

.events-container-img { margin-top: 50px; }

.events-more-content button {
    font-family: 'Helvetica Neue LT';
    width: 100%;
    background: none;
    border: 0;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;
    color: @yellow;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 19px;
    margin-top: 30px;
    font-weight: 300;

    .transition(all .3s ease-in-out);

    &:hover {
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray;
        color: @gray;
        .transition(all .3s ease-in-out);
    }
}

.the-contact {
    padding-top: 60px;

    & h2 {
        font-family: 'Helvetica Neue LT';
        font-size: 50px;
        text-align: right;
        font-weight: 100;
        color: @yellow;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }

    & .contact-form-part {
        border: 1px solid @gray;
        border-left: 0;
        border-right: 0;
        padding: 10px 0;
    }

    & .contact-form-part-last {
        border: 1px solid @gray;
        border-left: 0;
        border-right: 0;
        padding: 10px 0;

        & .wpcf7-text { border: 0; }
    }

    & .wpcf7-form-control {
        width: 98%;
        background: none;
        border: 0;
        font-weight: 300;
        border-right: 1px solid @gray;
        font-size: 16px;
        text-transform: uppercase;
    }

    & .contact-form-part-textarea {
        padding: 0;
        padding-top: 15px;

        & .wpcf7-textarea {
            width: 100% !important;
            border: 0 !important;
        }
    }

    & .contact-form-part-submit {
        padding: 0;

        & .wpcf7-submit {
            font-family: 'Helvetica Neue LT';
            width: 100%;
            background: none;
            border: 0;
            border-top: 1px solid @yellow;
            border-bottom: 1px solid @yellow;
            color: @yellow;
            padding: 8px;
            letter-spacing: 1.5px;
            font-size: 19px !important;
            font-weight: 300;
            text-transform: capitalize;
            .transition(all .3s ease-in-out);

            &:hover {
                border-top: 1px solid @gray;
                border-bottom: 1px solid @gray;
                color: @gray;
                .transition(all .3s ease-in-out);
            }
        }
    }
}

.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    clear: both;
}

.contact-container {
    text-align: justify;
    font-size: 19px;
    color: #8c9192;
    line-height: 28px;
    letter-spacing: -.5px;

    & a { color: #8c9192; }

    & h3 {
        color: @yellow;
        font-size: 19px;
    }

    & h5 {
        color: @yellow;
        font-size: 19px;

        & a { color: @yellow; }
    }
}

.the-footer {
    background: black;
    position: relative;
    overflow: hidden;
}

.the-footer-inner {
    background: transparent;
    margin-top: -100px;

    h3 {
        font-size: 18px;

        & span { color: @yellow; }
    }

    & .mouse-over-footer {
        margin-top: 0px;
        top: 30px;
    }
}

.contact-background-container {
    position: relative;
    overflow: hidden;
}

.footer-scroll-container {
    background: black;
    height: 300px;
    position: absolute;
    bottom: -126px;
    transform: rotate(-9deg);
    left: 0;
    width: 103%;
}

.footer-copy {
    text-align: center;
    color: @gray;

    & h4 {
        font-size: 18px;
        color: @yellow;
    }

    & i {
        color: @yellow;
        margin-right: 11px;
        margin-top: 20px;
        font-size: 18px;
        float: right;
        .transition(all .3s ease-in-out);

        &:hover {
            color: @gray;
            .transition(all .3s ease-in-out);
        }
    }
}

.mouse-over-footer {
    height: 50px;
    width: 35px;
    display: block;
    z-index: 10;
    margin-left: auto;
    margin-top: 45px;
    margin-right: auto;
    top: 0;
    position: relative;
    margin-bottom: 30px;

    &:hover {
        & img {
            animation: shaker 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        height: 38px !important;
        width: 2px;
        top: -50px;
        border-left: 1px solid #8c9192;
        left: 45%;
    }
}

.taxonomy-logo {
    margin-bottom: 20px;
    text-align: center;

    & img { display: inline-block; }
}

.taxonomy-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.taxonomy-big-content {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    min-height: 150vh;

    & h1 {
        font-family: 'Helvetica Neue LT';
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
        color: @yellow;
        font-size: 45px;
        letter-spacing: 5px;
        font-weight: 100;
        text-transform: uppercase;
    }
}

.taxonomy-content-info {
    font-size: 18px;
    margin: 15px 0;
    color: @gray;
    text-align: justify;
}

.taxonomy-skew-container {
    height: 205px;
    overflow: hidden;

    & .skew-content {
        height: 265px;
        width: 150%;
        margin-top: -170px;
        margin-left: -150px;
        background: rgba(0,0,0,0.4);
        transform: rotate(-10deg);
    }
}

.taxonomy-big-content-logo {
    text-align: center;

    & img { display: inline-block; }
}

.single-taxonomy-title {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: @yellow;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;
    padding: 7px 0;

    & img { margin-top: -3px; }

    & h1 {
        font-size: 22px;
        font-weight: 700;
        display: block;
        margin: 0 5px;
    }

    & span { font-weight: 300; }
}

.single-taxonomy-content {
    font-size: 15px;
    line-height: 25px;
    color: @gray;
    text-align: justify;
    margin: 20px 0;

    & a { color: @yellow; }

    & blockquote { border-left: 5px solid @yellow; }
}

.single-taxonomy-aside {
    font-size: 19px;
    line-height: 30px;
    color: @gray;
    text-align: justify;
    margin: 20px 0;
}

.single-taxonomy-aside-item-info {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 12px 0;
    padding: 8px 15px;
    text-align: right;
    color: #FFF;

    & h2 {
        font-size: 21px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        .transition(all .3s ease-in-out);
    }

    & span {
        font-size: 18px;
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: 400;
        .transition(all .3s ease-in-out);
    }

    & img { .transition(all .3s ease-in-out); }
}

.single-taxonomy-aside-item:hover .single-taxonomy-aside-item-info {
    & h2 {
        color: @gray;
        .transition(all .3s ease-in-out);
    }

    & span {
        color: @gray;
        .transition(all .3s ease-in-out);
    }

    & img {
        opacity: .7;
        .transition(all .3s ease-in-out);
    }
}

.single-taxonomy-sharer {
    text-align: left;
    font-size: 18px;
    line-height: 0;
    color: #f2bb17;
    border-top: 1px solid #f2bb17;
    border-bottom: 1px solid #f2bb17;
    padding: 10px 0;

    & .fa { margin: 0 5px; }

    & a { color: @yellow; }
}

.single-taxonomy-comments {
    & h2 {
        margin: 20px 0;
        font-size: 20px;
        letter-spacing: 1.5px;
        font-weight: 300;
    }

    & ul {
        list-style: none;
        padding: 0;

        & li {
            border-top: 1px solid gray;
            padding: 15px 0;
            font-size: 16px;
        }

        & li:last-child { border-bottom: 1px solid gray; }
    }

    & .comment-form-title {
        margin-bottom: 10px;
        margin-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
        border-bottom: 1px solid gray;
        font-weight: 300;
        letter-spacing: .5px;
    }

    & textarea {
        background: none !important;
        border-radius: 0 !important;
        border: 0 !important;
        border-bottom: 1px solid gray !important;
        font-size: 20px !important;
        font-weight: 100;
        font-style: italic;
        padding: 5px !important;
        padding-bottom: 20px !important;
    }

    & .comment-form-author, .comment-form-email {
        display: inline-block;
        width: 49.5%;
    }

    & input {
        background: none !important;
        border: 0;
        display: inline-block;
        width: 100%;
        padding: 5px !important;
        font-size: 20px !important;
        font-weight: 100;
        font-style: italic;
    }

    & .comment-form-author input { border-right: 1px solid gray; }

    & .form-submit input {
        border-top: 1px solid @yellow;
        border-bottom: 1px solid @yellow;
        color: @yellow;
        font-style: normal;
        padding: 8px 0 !important;
        letter-spacing: 1.5px !important;
        font-size: 19px !important;
        font-weight: 300 !important;
        text-transform: capitalize!important;
    }
}

.comment-reply-link{
    display: none !important;
}

.single-taxonomy-product-item {
    text-align: center;
    margin-bottom: 35px;
    cursor: pointer;
    min-height: 370px;

    & .amount { font-size: 15px; }

    & img {
        display: inline-block;
        margin-bottom: 15px;
        .transition(all .3s ease-in-out);

        &:hover {
            opacity: .7;
            .transition(all .3s ease-in-out);
        }
    }

    & ins {
        font-weight: 900;
        border-left: 2px solid @yellow;
        color: @yellow;
        padding-left: 5px;
    }

    & h2 {
        font-size: 18px;
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: 900;
        color: @yellow;
    }
}

.overlay-thechoice {
    background: rgba(0,0,0,0.85);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    .transition(all .5s ease-in-out);
}

.overlay-hidden {
    z-index: -3;
    opacity: 0;
}

.overlay-show {
    z-index: 10;
    opacity: 1;
}

.product-pop-content {
    position: relative;
    border: 1px solid @yellow;
    padding: 25px;
    background: black;
}

.product-pop-close {
    position: absolute;
    background: none;
    top: -1px;
    right: -60px;
    z-index: 12;
    color: @yellow;
    border: 0;
    font-size: 50px;
    line-height: 20px;
    border-top: 2px solid @yellow;
    padding: 15px;
    border-bottom: 2px solid @yellow;
    padding-bottom: 25px;
    cursor: pointer;
}

.product-pop-image {
    text-align: center;

    & img {
        width: auto;
        max-height: 590px;
        display: inline-block;
    }
}

.product-pop-content-info {
    border-left: 1px solid @yellow;
    text-align: center;

    & h2 {
        font-family: 'Helvetica Neue LT';
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: @yellow;
        border-bottom: 1px solid @yellow;
        padding-bottom: 20px;
    }

    & h3 {
        font-size: 22px;
        font-weight: 600;
        color: @gray;
        border-bottom: 1px solid @yellow;
        padding-bottom: 20px;
    }

    & .product-pop-info {
        padding: 20px;
        padding-top: 5px;
        border-bottom: 1px solid @yellow;
        color: @gray;
        text-align: justify;
        font-size: 16px;
        min-height: 240px;
    }

    & .product-pop-price {
        font-family: 'Helvetica Neue LT';
        padding: 20px;
        font-size: 25px;
        font-weight: 900;
        color: @yellow;

        & del {
            font-size: 20px;
            color: @gray;
            margin-right: 20px;
        }
    }
}

/* EVENTOS */
#tribe-bar-form {
    background: transparent !important;
    color: @gray !important;
}

.tribe-bar-views-inner { background: transparent !important; }

#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background: #f2bb17 !important;
    color: #000 !important;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
    background: transparent !important;
    color: @gray !important;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a { background-color: #4e4e4e !important; }

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: #f2bb17 !important;
    color: #000 !important;
}

.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a { background-color: #4e4e4e !important; }

#tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title { color: @yellow !important; }

.tribe-events-calendar thead th {
    background-color: #000 !important;
    color: #f2bb17 !important;
    border: 1px solid #f2bb17 !important;
}

#tribe-events-content .tribe-events-calendar td { text-align: center !important; }

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 1.35 !important;
    text-transform: uppercase !important;

    & a { color: #f2bb17 !important; }
}

.taxonomy-big-intro {
    color: @gray;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 20px;
}

.archive-item {
    position: relative;

    & h2 {
        font-family: 'Helvetica Neue LT';
        font-size: 15px;
        letter-spacing: .5px;
        color: @yellow;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.archive-item-masonry {
    width: 31.5%;
    margin-bottom: 30px;
}

.archive-item-info {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: right !important;
    color: @white;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.80);
    text-align: right !important;

    & h2 {
        color: @white;
        text-align: right;
        margin-bottom: 10px;
    }

    & h3 {
        font-family: 'Helvetica Neue LT';
        font-size: 15px;
        letter-spacing: .5px;
        margin-top: 12px;
    }
}

.archive-item-img {
    .transition(all .3s ease-in-out);

    &:hover {
        border: 3px solid @yellow;
        .transition(all .3s ease-in-out);
    }
}

.single-taxonomy-img-container {
    position: relative;
    margin-bottom: 20px;
}

.single-taxonomy-img-container-mask {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.80);
    text-align: right !important;

    & h1 {
        text-align: right !important;
        margin-bottom: 0 !important;
        color: #FFF;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .5px;
    }

    & h3 {
        color: #FFF;
        font-size: 23px;
        margin-top: 8px;
        letter-spacing: .5px;
    }
}

.single-taxonomy-influencer-container {
    position: relative;
    margin-bottom: 20px;

    & .single-taxonomy-influencer-mask {
        background: -moz-linear-gradient(top, rgba(179,106,124,0.8) 0%, rgba(131,56,120,1) 100%);
        background: -webkit-linear-gradient(top, rgba(179,106,124,0.8) 0%,rgba(131,56,120,1) 100%);
        background: linear-gradient(to bottom, rgba(179,106,124,0.8) 0%,rgba(131,56,120,1) 100%);
        color: #FFF;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 68%;
        padding: 15px;
        text-align: center;

        & h2 {
            position: relative;
            font-size: 22px;
            font-family: 'Helvetica Neue LT';
        }
    }

    & .single-taxonomy-bardetoto-mask {
        line-height: 27px;
        text-shadow: 1px 1px 2px #515151;
        background: -moz-linear-gradient(top, rgba(247,220,148,0.07) 0%, rgba(237,196,101,1) 100%);
        background: -webkit-linear-gradient(top, rgba(247,220,148,0.07) 0%,rgba(237,196,101,1) 100%);
        background: linear-gradient(to bottom, rgba(247,220,148,0.07) 0%,rgba(237,196,101,1) 100%);
    }
}

.single-taxonomy-category-ul {
    list-style: none;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: center;

    & li {
        display: inline-block;
        border-right: 1px solid @gray;
        margin-right: 20px;
        padding-right: 20px;

        &:last-child { border-right: 0; }

        & a {
            color: @gray;
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    & .active a {
        font-weight: 900;
        color: @yellow;
    }
}

.page-big-content {
    font-size: 15px;
    line-height: 25px;
    color: @gray;
    text-align: justify;
}

/* TRIBE EVENTS OVERRIDES */
.tribe-events-event-image {
    width: 100% !important;
    margin-bottom: 30px;

    & img {
        width: 100% !important;
        height: auto !important;
    }
}

.tribe-events-event-meta {
    background: #f2bb17 !important;
    border: 0;
    margin-top: 12px;
    padding: 12px !important;
    color: white !important;
    font-weight: 300 !important;
    text-shadow: none !important;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.tribe-event-url {
    color: @yellow;
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .5px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.tab-posts-item {
    position: relative;
    margin-bottom: 15px;

    & img {
        width: 100%;
        height: auto;
    }
}

.tab-posts-item-info {
    padding: 8px 15px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.80);
    text-align: right !important;

    & h2 {
        font-size: 18px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .5px;
        margin-top: 8px;
        text-shadow: 0px 0px 6px #424242;
    }

    & span {
        font-size: 18px;
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.tab-info-cover {
    & img { width: 100%; }
}

.tribe-events-loop .tribe-events-content {
    float: left;
    padding: 0 5% 0 !important;
    width: 100% !important;
    font-size: 14px;
}

/* TABS MOBILE */
.tabs-mobile-item {
    position: relative;
    max-width: 768px;
    min-height: 698px;
    padding: 25px;
    padding-top: 300px;
    background-size: cover !important;
    color: #FFF;
    text-align: justify;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Helvetica Neue LT';

    & img {
        margin-left: auto;
        margin-right: auto;
    }

    & h3 {
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 10px;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;

        &:before {
            position: absolute;
            content: '-';
            top: 6px;
            left: 20px;
            font-size: 20px;
        }

        &:after {
            position: absolute;
            content: '-';
            top: 6px;
            right: 20px;
            font-size: 20px;
        }
    }

    & .btn-tabs {
        border-radius: 0;
        font-family: 'Helvetica Neue LT';
        width: 100%;
        background: none;
        border: 0;
        border-top: 1px solid @yellow;
        border-bottom: 1px solid @yellow;
        color: @yellow;
        padding: 8px;
        letter-spacing: 1.5px;
        font-size: 19px;
        font-weight: 300;
        text-transform: capitalize;
        margin-top: 20px;
        .transition(all .3s ease-in-out);

        &:hover {
            border-top: 1px solid @gray;
            border-bottom: 1px solid @gray;
            color: @gray;
            .transition(all .3s ease-in-out);
        }
    }
}

.tabs-single-item {
    position: relative;
    max-width: 768px;
    width: 100% !important;
    min-height: auto !important;
    padding: 10px !important;
    padding-top: 195px !important;
    background-size: cover !important;
    color: #FFF;
    text-align: justify;
    font-weight: 300 !important;
    line-height: 25px !important;
    font-size: 14px !important;
    font-family: 'Helvetica Neue LT';
}

/* proximamente */
.main-prox-container {
    text-align: center;
    color: #ffc603;
    padding-top: 10%;
    font-family: 'Helvetica Neue LT';

    & img { display: inline-block; }

    & h1, h2, h3, h4, h5, h6 { font-family: 'Helvetica Neue LT'; }

    & h1 {
        font-size: 30px;
        margin-top: 30px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 8px;
    }

    & h2 {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900;
        margin-top: 25px;
    }
}

.body-proximamente {
    height: 100%;
    max-height: 90% !important;
}

.home-ads-container { margin: 60px 0; }

/* NOEWSLETTER */
.wdpu-msg { background-color: transparent !important; }

.wdpu-text {
    padding: 32px 60px 80px !important;
    background: #000000 !important;
    border: 5px solid #ffc603 !important;
    color: #ffc603 !important;

    & h3 {
        font-size: 26px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 30px;
    }

    & .tnp-subscription input.tnp-submit {
        background-color: #444;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-top: 20px;
        font-size: 18px;
        height: auto;
        padding: 10px 20px;
        font-weight: 100;
        letter-spacing: 1px;
    }
}

.single-title {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 100;
    color: #f2bb17;
    letter-spacing: 3px;
}
.img-logo {
    max-height: 30px;
    margin-top: -5px;
}
.embed-responsive {
    margin: 5px 0;
}
.tnp-profile-custom {
    font-size: 13px;
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px;
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #444;
    font-size: 14px;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
}