/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {

}
@media (max-width: 1680px) {

}
@media (max-width: 1600px) {

}
@media (max-width: 1440px) {
    .nav-tabs {
        margin-left: 80px !important;
        margin-right: 55px !important;
        & li {
            margin-right: 50px;
        }
    }
    .mouse-over:after {
        height: 223px;
    }
}
@media (max-width: 1366px) {
    .affix-container li {
        margin-bottom: 10px;
    }
    .nav-tabs {
        border-bottom: 0 !important;
        & li {
            margin-right: 50px;
        }
    }
    .mouse-over:after {
        height: 180px;
    }
    .the-header {
        width: 160px;
    }
    .footer-copy i {
        float: left;
    }
}
@media (max-width: 1280px) {
    .the-header {
        width: 130px;
    }
    .mouse-over:after {
        height: 130px;
    }
    .the-slider {
        height: 75vh;
    }
}
@media (max-width: 1170px) {
    .affix-container li a {
        padding: 0px 1px 0px 3px;
        font-size: 14px;
    }
    .single-taxonomy-title img {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .menu-container-noaffixed ul li a {
        padding: 0px 0px 0px 3px;
        font-size: 16px;
    }

}
@media (max-width: 1024px) {
    .the-slider {
        height: 110vh;
        padding-top: 8%;
    }
    .mouse-over:after {
        height: 60px;
    }
    .nav-tabs li {
        margin-right: 5px;
    }
    .the-tabs .avila-bg {
        height: 310px;
    }
    .footer-scroll-container {
        height: 220px;
    }
    .the-about {
        padding-top: 0;
        margin-top: -130px;
    }
    .footer-copy h4 {
        font-size: 15px;
    }
    .footer-copy h5 {
        font-size: 13px;
    }
    .hoster-custom-img {
        width: auto;
        height: 465px;
    }
    .hoster-custom-img-1 {
        top: 50px;
        left: 56px;
    }
    .hoster-custom-img-2 {
        top: 94px;
        left: 21%;
        height: 412px;
    }
    .hoster-custom-img-3 {
        top: 72px;
        right: 44%;
        height: 390px;
    }
    .hoster-custom-img-4 {
        top: 34px;
        right: 26.5%;
    }
    .hoster-custom-img-5 {
        top: 37px;
        right: 7.8%;
    }
}
@media (max-width: 1024px) and (max-height: 600px) {
    .the-slider {
        height: 130vh;
    }
}
@media (max-width: 992px) {
    .the-slider {
        height: 100vh;
    }
}
