/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */

@media (max-width: 600px) {
    .tab-posts-item {
        min-height: 140px;
    }
    .tab-posts-item-info h2 {
        font-size: 13px;
    }
    .tab-posts-item-info span {
        font-size: 14px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .host-image-mask {
        min-height: 35vh;
    }
    .hoster-custom-img {
        height: 265px;
    }
    .hoster-custom-img-2 {
        height: 211px;
    }
    .hoster-custom-img-3 {
        height: 215px;
    }
    .hoster-custom-img-2 {
        height: 236px;
        top: 74px;
        left: 23%;
    }
    .the-header .the-header-bigline {
        border-left: 0;
    }
    .menu-container-affixed {
        display: none;
    }
    .menu-container-big-show {
        .the-header-bigline {
            border-left: 1px solid #4c4c4c !important;
        }
        .menu-container-affixed {
            display: block;
        }
    }
    .the-slider {
        height: 50vh;
        padding-top: 3.5%;
        margin-top: 50px;
    }
    .slider-text-container {
        margin-top: 20px;
    }
    .slider-text-content p:nth-child(1) {
        font-size: 12px;
    }
    .slider-text-content p:nth-child(2) {
        font-size: 13px;
    }
    .slider-text-content h6 {
        margin-top: 15px;
    }
    .slider-text-container {
        line-height: 15px;
    }
    .slider-text-content h6 {
        font-size: 15px;
    }
    .slider-content h3 {
        margin-top: 22px;
        font-size: 14px;
    }
    .slider-text-container-extra {
        top: 47%;
    }
    .mouse-over {
        display: none;
    }
    .cocktails-slide-info h2 {
        font-size: 35px;
        text-align: center;
    }
    .cocktails-slide-img {
        padding-right: 0;
    }
    .cocktails-slide-info {
        padding-left: 0;
        margin-top: 20px;
    }
    .the-events {
        padding-top: 25px;
    }
    .tab-inner-container {
        margin-bottom: 30px;
    }
    .affix-container {
        padding-top: 20px;

    }
    .affix-container li {
        margin-bottom: 15px;
    }
    .single-taxonomy-title img {
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .single-taxonomy-title h1 {
        font-size: 18px;
    }
    .menu-container-noaffixed {
        display: none;
    }

    .menu-container-big-show {
        & .menu-container-noaffixed {
            display: block;
        }
    }
    .product-pop-content-info {
        border-left: 0;
        text-align: center;
        padding-left: 0;
    }
    .product-pop-content-info h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .product-pop-content-info .product-pop-info {
        padding: 10px;
        font-size: 16px;
        line-height: 15px;
    }
    .product-pop-content-info .product-pop-price {
        padding: 20px;
        font-size: 20px;
    }

    .product-pop-content-info .product-pop-price del {
        font-size: 18px;
        margin-right: 0;
    }
    .product-pop-close {
        left: -60px;
        right: 0px;
    }
    .footer-copy i {
        font-size: 24px;
        float: none;
        margin-bottom: 30px;
    }
    .nav-tabs {
        width: 30%;
        margin: 0 !important;
        float: left;
        margin-right: 10px !important;
        margin-top: 40px !important;
        & li {
            width: 100%;
            & a {
                font-size: 15px;
                opacity: 1;
                color: #75797A;
            }
        }
    }
    .tab-content {
        width: 65%;
        display: inline-block;
    }
    .tab-inner-container {
        font-size: 14px;
        line-height: 20px;
    }
    .cocktails-content {
        font-size: 14px;
        line-height: 20px;
    }
    .cocktails-slide-info-content {
        font-size: 14px;
        line-height: 20px;
    }
    .events-container {
        font-size: 14px;
        line-height: 20px;
    }
    .the-tab-logo {
        & img {
            width: 100%;
            height: auto;
        }
    }
    .the-contact .wpcf7-form-control {
        border-right: 0;
    }
    .footer-scroll-container {
        height: 170px;
        width: 105%;
    }
    .contact-container {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
        & h3, h5 {
            font-size: 14px;
        }
    }
    .taxonomy-bg-container {
        position: fixed;
        height: 100%;
    }
    .taxonomy-big-content {
        padding: 15px;
        min-height: 20vh;
    }
    .taxonomy-big-container {
        padding-top: 45px;
    }
    .taxonomy-logo img {
        width: 100%;
        height: auto !important;
    }
    .taxonomy-big-intro {
        font-size: 14px;
        line-height: 20px;
    }
    .archive-item-masonry {
        width: 100%;
    }
    .taxonomy-content-info {
        font-size: 14px;
        line-height: 20px;
    }
    .single-taxonomy-category-ul li {
        border: 0;
        padding: 0;
        margin: 0;
    }
    .single-taxonomy-img-container-mask h1 {
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    .single-taxonomy-img-container-mask h3 {
        font-size: 14px;
    }
    blockquote {
        font-size: 14px;
    }
    .single-taxonomy-comments .comment-form-author, .single-taxonomy-comments .comment-form-email {
        width: 100%;
    }
    .single-taxonomy-aside {
        padding-left: 0;
    }
}
@media (max-width: 533px) {

}
@media (max-width: 414px) {
    .the-tabs .avila-bg {
        height: 200px;
    }
    .host-image-mask {
        min-height: 28vh;
    }
    .hoster-custom-img {
        height: 150px;
    }
    .hoster-custom-img-2 {
        height: 136px;
        top: 62px;
        left: 26%;
    }
    .hoster-custom-img-3 {
        top: 48px;
        height: 140px;
        right: 44.5%;
    }

    .hoster-custom-img-4 {
        top: 41px;
        right: 30.7%;
    }
    .hoster-custom-img-5 {
        top: 37px;
        right: 15.9%;
    }
    .single-taxonomy-title h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .about-content {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .about-content h4 {
        font-size: 15px;
    }
    .about-content h5 {
        font-size: 15px;
        line-height: 20px;
    }


}
@media (max-width: 375px) {
    .hoster-custom-img {
        height: 130px;
    }
    .hoster-custom-img-3 {
        top: 45px;
        height: 127px;
        right: 43.5%;
    }
    .hoster-custom-img-2 {
        height: 124px;
        top: 55px;
        left: 26.9%;
    }
    .tabs-mobile-item {
        min-height: 300px;
        padding-top: 100px;
    }
}
@media (max-width: 360px) {
    .hoster-custom-img-1 {
        top: 50px;
        left: 50px;
    }
    .hoster-custom-img-3 {
        top: 45px;
        height: 127px;
        right: 42.3%;
    }
    .hoster-custom-img-4 {
        top: 41px;
        right: 28.7%;
    }
    .hoster-custom-img-5 {
        top: 44px;
        right: 13.7%;
    }
}
@media (max-width: 320px) {
    .the-slider {
        height: 54vh;
    }
    .slider-content {
        padding: 0;
    }
    .slider-text-content {
        padding: 0;
        margin-top: 0px;
    }
    .slider-text-container-extra {
        display: none;
    }
    .slider-content h3 {
        margin-top: 22px;
        font-size: 11px;
    }
    .slider-text-content h6 {
        font-size: 13px;
    }
    .footer-scroll-container {
        height: 155px;
    }
    .hoster-custom-img-1 {
        top: 50px;
        left: 34px;
    }
    .hoster-custom-img-2 {
        height: 124px;
        top: 55px;
        left: 23.9%;
    }
    .hoster-custom-img-3 {
        top: 45px;
        height: 127px;
        right: 40.7%;
    }
    .hoster-custom-img-4 {
        top: 41px;
        right: 25%;
    }
    .hoster-custom-img-5 {
        top: 44px;
        right: 8.7%;
    }
}
@media (max-width: 240px) {

}
