/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .the-header {
        width: 140px;
    }
    .the-slider {
        height: 55vh;
    }
    .slider-text-content p:nth-child(1) {
        font-size: 15px;
    }
    .slider-text-content p:nth-child(2) {
        font-size: 19px;
    }
    .slider-text-container {
        padding: 5px;
        padding-top: 20px;
        line-height: 25px;
    }
    .slider-text-container:before {
        width: 30%;
    }
    .slider-text-container:after {
        width: 30%;
    }
    .slider-content h3 {
        margin-top: 22px;
        font-size: 20px;
    }
    .the-slider {
        height: 80vh;
        padding-top: 7%;
    }
    .nav-tabs li a {
        font-size: 9px;
    }
    .about-content {
        font-size: 16px;
        line-height: 25px;
        & h4 {
            font-size: 18px;
        }
        & h5 {
            font-size: 18px;
        }
    }
    .tab-inner-container {
        font-size: 16px;
    }
    .cocktails-content {
        font-size: 16px;
        line-height: 25px;
    }
    .events-container {
        font-size: 16px;
        line-height: 25px;
    }
    .contact-container {
        font-size: 15px;
        line-height: 22px;
        & h3 {
            font-size: 16px;
        }
        & h5 {
            font-size: 16px;
        }
    }
    .cocktails-container h2 {
        font-size: 40px;
    }
    .events-container h2 {
        font-size: 40px;
    }
    .the-contact h2 {
        font-size: 40px;
    }
    .hoster-custom-img {
        width: auto;
        height: 365px;
    }
    .hoster-custom-img-2 {
        height: 312px;
    }
    .hoster-custom-img-3 {
        height: 320px;
    }
    .host-image-mask {
        min-height: 45vh;
    }
    .the-contact .wpcf7-form-control{
        border-right: 0;
    }

}
@media (max-width: 960px) {
    .the-slider {
        height: 55vh;
        padding-top: 6.5%;
    }
}
@media (max-width: 800px) {
    .the-slider {
        height: 50vh;
    }
    .slider-text-container {
        margin-top: 15px;
    }
    .slider-content img {
        width: 70%;
        display: inline-block;
    }
    .slider-content h3 {
        margin-top: 15px;
        font-size: 15px;
    }
    .mouse-over:after {
        height: 45px;
    }
    .host-image-mask {
        min-height: 35vh;
    }

}
@media (max-width: 768px) {
    .host-image-mask {
        min-height: 60vh;
    }
}
@media (max-height: 600px) and (max-width: 1024px) {
    .host-image-mask {
        position: relative;
        min-height: 85vh;
    }
}
